.LoginScreen {
    background-color: #31b77e;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginScreen form {
    display: inline-block;
}

.LoginScreen input,
.LoginScreen button {
    display: block;
    border: 1px solid rgba(0,0,0,0.5);
    margin: 8px 0;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 1.4em;
}

.LoginScreen-error {
    color: red;
    margin-top: 0;
    font-weight: bold;
    font-size: 0.8em;
}

@media screen and (min-width: 768px) {
    .LoginScreen input,
    .LoginScreen button {
        font-size: 2em;
    }
}